* {
    margin: 0%;
    padding: 0%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: #333333;
    color: #ffffff;
    line-height: 1.6;
    height: 100vh;

}

.container {
    width: 100%;
    height: 100%;
}

.navbar {
    position: fixed;
    top: 0;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 60px;
    background: rgba(0, 0, 0, 0.7);
}

.navbar ul {
    display: flex;
    list-style: none;
    width: 100%;
    justify-content: center;
}

.navbar ul li {
    margin: 0 1rem;
    padding: 1rem;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: #f4f4f4;
}

.navbar ul li a:hover {
    color: skyblue;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 100vh;
}

section h1 {
    font-size: 4rem
}

section p {
    font-size: 1.5rem
}

section#Home {
    background: url(images/Home.jpg) no-repeat center center/cover;
}

section#Home:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 108.5%;
    background-image: linear-gradient(to bottom right, red, blue);
    opacity: 0.6;
  }

  .navbar {
    position: relative;
    z-index: 10;
  }

  h1, p {
    position: relative;
    z-index: 10;
  }
  

section#About {
    background: url(images/About.jpg) no-repeat center center/cover;
}

section#Service {
    background: url(images/Service.jpg) no-repeat center center/cover;
}

section#Contact {
    background: url(images/Contact.jpg) no-repeat center center/cover;
}